.app {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.bar {
    position: absolute;
    bottom: 25px;
}

.wrapper {
    position: relative;
    background-color: rgba(139, 139, 139, 0.781);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 450px;
}

input {
    margin-top: 25px;
}

.order-content {
    height: 100%;
    width: 100%;
    position: absolute;
}
